SPRING_DATASOURCE_URL=jdbc:postgresql://aws-0-REGION.pooler.supabase.com:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres.PROJECT_REF
SPRING_DATASOURCE_PASSWORD=YOUR_SUPABASE_DB_PASSWORD

PETSHOP_ROUTES_WEB=http://localhost:8080
PETSHOP_ROUTES_CATALOG=http://localhost:8081
PETSHOP_ROUTES_COMMERCE=http://localhost:8082

JAVA_OPTS=-Xms256m -Xmx512m
