SPRING_DATASOURCE_URL=jdbc:postgresql://YOUR-NEON-HOST/neondb?sslmode=require
SPRING_DATASOURCE_USERNAME=YOUR_NEON_USER
SPRING_DATASOURCE_PASSWORD=YOUR_NEON_PASSWORD

PETSHOP_ROUTES_WEB=http://localhost:8080
PETSHOP_ROUTES_CATALOG=http://localhost:8081
PETSHOP_ROUTES_COMMERCE=http://localhost:8082

JAVA_OPTS=-Xms256m -Xmx512m
